{% extends "project/base.html" %} 
{% block title %} 
    Accueil 
{% endblock %} 
{% block body %}
<div class="card card-pages">
    <div class="card-body text-center">
        <h4 class="card-title">The Lab</h4>
        <p id="card-about" class="card-text">Nous sommes The Lab, un centre de R&D spécialisé dans le domaine du développement informatique. Nous sommes spécialisé dans de nombreux domaines comme l'élaboration de blockchain, la recherche graphique mais aussi la conception d'objets connectés et de logiciels embarqués.</p>
    </div>
</div>
{% endblock %}