{% extends "project/base.html" %} 
{% block title %} 
    Accueil 
{% endblock %} 
{% block body %}
<div class="card card-pages">
    <div class="card-body text-center">
        <p><img class=" img-fluid" src="https://images.unsplash.com/photo-1593754500229-c3f5b58b388f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTJ8fGRldmVsb3BlcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="card image"></p>
        <h4 class="card-title">Base de données</h4>
        <p class="card-text">Antoine est notre fabuleux architecte de base de données.
            <br/>
            Il permet d'avoir une base de données fonctionnelles et performante en un temps record !</p>
    </div>
</div>
{% endblock %}