{% extends "project/base.html" %} 
{% block title %} 
    Accueil 
{% endblock %} 
{% block body %}
<div class="card card-pages">
    <div class="card-body text-center">
        <p><img class=" img-fluid" src="https://images.unsplash.com/photo-1531496681078-27dc2277e898?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1567&q=80" alt="card image"></p>
        <h4 class="card-title">Graphisme</h4>
        <p class="card-text">Mia, Juan et Julie forment notre trio graphistes de choc !
            <br/>
            Leurs connaissances et leurs compétences à toute épreuve permettent de créer des maquettes et sites magnfiques en un rien de temps !</p>
    </div>
</div>
{% endblock %}