{% extends "project/base.html" %} 
{% block title %} 
    Accueil 
{% endblock %} 
{% block body %}
<div class="card card-pages">
    <div class="card-body text-center">
        <p><img class=" img-fluid" src="https://images.unsplash.com/photo-1529421308418-eab98863cee4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1955&q=80" alt="card image"></p>
        <h4 class="card-title">Objets connectés</h4>
        <p class="card-text">Matthieu est notre expert en objets connectés.
            <br/>
            Il est capable de concevoir l'objet connecté de vos rêves !</p>
    </div>
</div>
{% endblock %}