{% extends "project/base.html" %} 
{% block title %} 
    Les candidats
{% endblock %} 
{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <form method="post" enctype="multipart/form-data">
                {{ form.management_form }}
                {% csrf_token %}
                <div class="form-group">
                    <label>Rechercher par compétences <i style="cursor: pointer" onclick="$('.selectpicker').selectpicker('deselectAll');" class="fa fa-trash ml-3"></i></label>
                    <select class="selectpicker form-control" multiple data-live-search="true" id="{{ form.skills.id }}" name="{{ form.skills.name }}" data-max-options="8" title="Sélectionnez les compétences" >
                        {% for value, text in form.skills.field.choices %}
                            <option value="{{ value }}" {% if value in form.skills.data %} selected {% endif %}>{{ text }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <div>
                        <button type="submit" class="btn btn-primary btn-lg">Rechercher</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
    {% for applicant in applicants %}
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ applicant.first_name }} {{ applicant.last_name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ applicant.email }}</h6>
                    <ul class="card-text mb-3">
                        {% for skill in applicant.skills %}
                            {% for SKILL in SKILLS %}
                                {% if SKILL.0 == skill %}
                                    <li>{{ SKILL.1 }}</li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    <a href="{{ applicant.cv.url }}" download>
                        <i style="cursor: pointer" class="fa fa-download"></i> Télécharger le CV
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
